# 02 - Beginner Exercises


*   Type Conversion  
*   Data Structure

## üçëüçë
1.Ali's math score is ```19.5```. First we ask you to create a variable called the ```math_score``` and set it to ```19.5``` Then print the type of this variable using the ```type()``` function. Then, since in Ali's school, it is customary not to print grades in decimal in the report card, so you also define a variable called the ```final_score``` and convert the score into the integer and then print it.

In [3]:
# Write your own code in this cell 
math_score = 19.5
type(math_score)

float

In [5]:
print(int(math_score))

19

## üçë

2.Sara analyzes a company's data.
This data contains a variable named ```employed``` For each person who has been looking for a job in this company.
If a person is employed, its value is equal to ```1```; otherwise, it is equal to ```0```.
Help Sara with converting her data to ```True``` or ```False```.

In [6]:
# Write your own code in this cell 

# id = "x3q"
x3q_name = "Ebrahim Hamedi"
x3q_employed = 0

print()

# id = "b2w"
b2w_name = "Hassan Shamaizadeh"
b2w_employed = 1

final_employed = {
    x3q_name : x3q_employed,
    b2w_name : b2w_employed
}
for i in final_employed:
    if final_employed[i] == 0:
        final_employed[i] = False
    else:
        final_employed[i] = True
print(final_employed)

{'Ebrahim Hamedi': False, 'Hassan Shamaizadeh': True}

## üçë
3.Sara later realizes that the company has a variable named ```desired_salary``` that is kept in a string of letters, making following calculation hard for her, so she decides to change it to the integer.
Kindly help Sara to do that and then by using the ```type()``` function print the final variable type.

In [41]:
# Write your own code in this cell 
def auto_conv_to_int(var):
    x=0
    for ch in var:
        x = x*10 +ord(ch)-ord('0')
    return x
# id = "x3q"
x3q_desired_salary = "31000"


# id = "b2w"
b2w_desired_salary = "15000"


data = {
    'x3q_desired_salary' : "31000",
    'b2w_desired_salary' : "15000",
       }
j = -1
for i in data:
    data[i] = auto_conv_to_int(data[i])
    j += 1
    print(f'desired salary of {[i for i in data.keys()][j]} was {data[i]}.')
    print(f'the type of his salary is {type(data[i])}')

desired salary of x3q_desired_salary was 31000.
the type of his salary is <class 'int'>
desired salary of b2w_desired_salary was 15000.
the type of his salary is <class 'int'>

 ## üçëüçë
4.Create an empty list, an empty dictionary, an empty set, and an empty tuple, then print their values and types.

In [46]:
# Write your own code in this cell
x1 = []
x2 = ()
x3 = {}
x4 = set()
print(type(x1), x1, type(x2), x2, type(x3), x3, type(x4), x4)

<class 'list'> [] <class 'tuple'> () <class 'dict'> {} <class 'set'> set()

## üçë

5.Create a list and add the first five terms of the Fibonacci sequence and print it, then add the sixth term and print it again.

In [60]:
# Write your own code in this cell
Fibonacci=[]
x = int(input('enter the how much term you need to see from Fibonacci sequence: '))
for i in range(x):
    if i < 2:
        Fibonacci.append(i)
    else:
        Fibonacci.append(Fibonacci[i-1] + Fibonacci[i-2])
    
print(Fibonacci)

enter the how much term you need to see from Fibonacci sequence: 6
[0, 1, 1, 2, 3, 5]

## üçë

6.Create a set and add the first five terms of the Fibonacci sequence and print it, then add the sixth term and print it again. 
  - compare the results of these cell with the previous cell.

In [80]:
# Write your own code in this cell
Fibonacci_set=set()
x = int(input('enter the how much term you need to see from Fibonacci sequence: '))
for i in range(x):
    if i < 2:
        Fibonacci_set.add(i)
        j0 = 0
        j1 = 1
        j2 = 0
        j = [j0, j1, j2]
    else:
        j[2] = j[0] + j[1]
        j[0] = j[1]
        j[1] = j[2]
        Fibonacci_set.add(j[2])
print(Fibonacci_set) #one element of the Fibonacci sequence is disappearing in a set because the set can not have two elements of the same.

enter the how much term you need to see from Fibonacci sequence: 5
{0, 1, 2, 3}

## ‚úçÔ∏è

7.Using the built-in ```tupel()``` function, try to create a tuple that contains only the sixth term of the Fibonacci sequence.

In [217]:
# Write your own code in this cell
def Fibonacci_tuple(x):
    Fibonacci_tuple=()
    for i in range(x):
        if i < 2:
            Fibonacci_tuple += (i,)
            j0 = 0
            j1 = 1
            j2 = 0
            j = [j0, j1, j2]
        else:
            j[2] = j[0] + j[1]
            j[0] = j[1]
            j[1] = j[2]
            Fibonacci_tuple += (j[2],)
    print(Fibonacci_tuple)

In [219]:
x = int(input('enter the how much term you need to see from Fibonacci sequence: '))
Fibonacci_tuple(x)

enter the how much term you need to see from Fibonacci sequence: 9
(0, 1, 1, 2, 3, 5, 8, 13, 21)

## üéÉ

8.Help Sara in creating a dictionary which key is equal to  person's ID [*x3q, b2m*] and values are just another dictionary with the following keys: ```name``` , ```desired_salary```, ```employed``` 
and print this dictionary.

In [233]:
# Write your own code in this cell
data = {
    "x3q" : {
        "name" : "Ebrahim Hamedi",
        "desired_salary" : 31000,
        "employed" : False,
    },
    "b2m" : {
        "name" : "Hassan Shamaizadeh",
        "desired_salary" : 15000,
        "employed" : True,
    },
}

In [234]:
data

{'x3q': {'name': 'Ebrahim Hamedi', 'desired_salary': 31000, 'employed': False},
 'b2m': {'name': 'Hassan Shamaizadeh',
  'desired_salary': 15000,
  'employed': True}}