# 04 - Beginner Exercises

* List


---

## üçìüçìüçì
1.Make a variable named ```item0``` and set its value to the first item in the list below.

In [2]:
# Write your own code in this cell
mylist = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]
item0 = mylist[0]

print(item0)

1

## üçìüçìüçì
2.Print the second item in the list directly by the ```print()``` function.

In [3]:
# Write your own code in this cell
mylist = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]

print(mylist[1])

3

## üçìüçìüçì
3.Print the last item in this list.

In [4]:
# Write your own code in this cell
mylist = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]
print(mylist[-1])

78

## üçìüçìüçì
4.The ```append()``` method allows you to add items to your lists. 
add the string ***"R"*** to the below list with ```append()``` method.

In [6]:
# Write your own code in this cell
mylist = ["Julia", "Python"]

mylist.append("R")
print(mylist)

['Julia', 'Python', 'R']

## üçìüçìüçì
5.Lists can contain a wide variety of data.
You can even add another list as an object to a list.
In Python, this is referred to as ***nested data***. 
Append another list including ```"SQL"``` and ```"Scala"``` to the bottom of my list.

In [7]:
# Write your own code in this cell
sublist = ["SQL", "Scala"]
mylist.append(sublist)

print(mylist)

['Julia', 'Python', 'R', ['SQL', 'Scala']]

## üçìüçìüçì
6.```insert()``` allows the user to specify the index to which your object should be appended. 
So add ```"C++"``` to the ***0*** index of ```mylist```.

In [9]:
# Write your own code in this cell
mylist.insert(0, "C++")

print(mylist)

['C++', 'Julia', 'Python', 'R', ['SQL', 'Scala']]

## üçìüçìüçì
7.You can find out the index number of an item in your list by using the ```index()``` method. 
The following list is a factorial list of one-digit numbers.
Use the index method to determine the factorial of which one-digit number is equal to **5040**.

In [11]:
# Write your own code in this cell
mylist = [0, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]
mylist.index(5040)

7

## üçìüçìüçì
8.The ```remove()``` method is used to remove specific element from a list. remove the number that is not a square number from ```mylist```

In [26]:
# Write your own code in this cell
import math
mylist=[0, 1, 25, 16, 9, 49, 81, 36, 4, 65]
mylist.remove(*tuple(i for i in mylist if round(math.sqrt(i)) != math.sqrt(i)))
print(mylist)

[0, 1, 25, 16, 9, 49, 81, 36, 4]

## üçìüçìüçì
9.Reverse ```mylist``` using the ```reverse() ``` method.

In [30]:
# Write your own code in this cell
mylist = [45, 28, 15, 6, 1, 0]
mylist.reverse()
print(mylist)

[0, 1, 6, 15, 28, 45]

## üçìüçìüçì
10.Count how many times the number ***0*** appears in  ```mylist``` using the ```count()``` function.

In [31]:
# Write your own code in this cell
mylist = [0, 0, 1, 0, 0, 1, 6, 0, 1, 0, 2, 1, 6, 6, 1, 0, 16, 1, 18, 0, 6, 2, 22, 1, 0, 6, 3, 6, 28, 1, 15, 0, 2, 16, 6, 1, 3, 18, 6, 0, 5, 6, 21, 2, 1, 22, 46, 1, 42, 0, 16, 6, 13, 3, 2, 6, 18, 28, 58, 1, 60, 15, 6, 0, 6, 2, 33, 16, 22, 6, 35, 1, 8, 3, 1, 18, 6, 6, 13, 0, 9, 5, 41, 6, 16, 21, 28, 2, 44, 1]
mylist.count(0)

14

## üçìüçìüçì
11.Find the sum of the numbers in the following lists

In [40]:
# Write your own code in this cell
list_1 = [1, 2, 3]
list_2 = [1, 2, 4, 7, 14]
total_sum = sum(list_1) + sum(list_2)
print(total_sum)

34

## üçìüçì
12.Samad encountered a long list of ```True``` and ```False``` in a scientific study.
This list indicates whether or not each individual is a smoker.
Using the ```sum()``` method, can you tell us how many individuals on this list are smokers?

In [45]:
# Write your own code in this cell
samad_list = [True, False, False, True, False, True, False, False, True, False, True, False, False, True, True, False, False, True, False, True, False, False , True, False, True, False, False , True, True, False, False, True, False, True, False, False , True, False, True, False, False, True, True, False, False , True, False, True, False, False , True, False, True, False, False , True]

sum(samad_list[i] for i in range(len(samad_list)) if samad_list[i])

24

## üçì
13.calculate the ***maximum***, ***minimum***, ***sum*** and ***mean*** of the following data.

In [52]:
from statistics import mean
# Write your own code in this cell
mylist = [-31.39, 18.35 , 147.41, 137.18, -102.85, -46.58, 118.94,
          -126.78, -10.26, -139.1, 75.75, 59.18, 71.07, -68.76, 1.18,
          -18.88, 3.43, -82.71, -34.02, -93.1, -80.57, -2.88, 114.47,
          89.67, 97.64, -78.68, 43.39, 11.57, 79.72, 73.24, -121.54,
          2.32, -159.04]

print(max(mylist), min(mylist), round(sum(mylist), 4), round(mean(mylist), 4))

147.41 -159.04 -52.63 -1.5948